<app-error [isError]="isError" [text]="errorText"></app-error>
<div class="card mt-3">
    <div class="card-header">Atnaujinti kursą</div>
    <div class="card-body">
        <form (ngSubmit)="lectureSubmit(f)" #f="ngForm">
            <div class="mb-3">
                <label for="" class="form-label">Pavadinimas</label>
                <input type="text" class="form-control" name="name" value="" ngModel [(ngModel)]="name">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Arasymas</label>
                <input type="text" class="form-control" name="description" value="" ngModel [(ngModel)]="description">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Kursas</label>
                <select class="form-control" name="group_id" [(ngModel)]="groupId">
                    <option *ngFor="let group of groups; let i=index" [value]="group.id">{{ group.name }}</option>
                </select>
            </div>



            <button class="btn btn-success" type="submit">Atnaujinti</button>
        </form>

    </div>
</div>