<div class="card">
    <div class="card-header">Paskaitu sąrašas</div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Nr</th>
                    <th>Pavadinimas</th>
                    <th>Aprasymas</th>
                    <th>Grupe</th>
                    <th>Paskaitos data</th>




                    <th>Veiksmai</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let lecture of lectures; let y=index;">
                    <td>{{ y+1 }}</td>
                    <td>{{ lecture.name }}</td>
                    <td>{{ lecture.description }}</td>
                    <td>{{ getGroupName(lecture.group_id) }}</td>
                    <td>{{ lecture.lecture_date }}</td>



                    <td>
                        <a class="btn btn-success" [routerLink]="['/lectures',lecture.id]">Redaguoti</a>&nbsp;&nbsp;
                        <button class="btn btn-danger" (click)="deleteLecture(lecture.id!)">Ištrinti</button>
                    </td>

                </tr>

            </tbody>
        </table>
    </div>